# python virtual vnvironment, editor directories
.venv
.idea
.vscode
.vercel

# node_modules, python cache, client/dist folder
node_modules
__pycache__
client/dist

# vnvironment variables
.env

!vercel.json
